.sky {
  height: 1000px;
}

.sky-wrap {
  text-align: center;
}

.sky-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1300px;
  height: 100%;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 43px;
}

.sky-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
